<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greetings | Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <form action="/madlib">
        <p>Enter a name</p>
        <input type="text" name="name"  id="name-input"/>
        <p>Enter a color</p>
        <input type="text" name="color"  id="color-input"/>
        <p>Enter a noun</p>
        <input type="text" name="noun"  id="noun-input"/>
        <p>Enter a adjetive</p>
        <input type="text" name="adjective"  id="adjective-input"/>

        <button type="submit">Submit!</button>
    </form>
  </body>  
</html>